/*
*/

@media only screen and (max-width : 1024px)  {


}

@media only screen and (max-width : 768px)  {

}

@media only screen and (max-width : 640px)  {

	body {

		> header, > main, > footer {
			position: relative !important;

			> div {
				width: 90%;
				margin: 0 auto;
			}
		}
	}

}

@media only screen and (max-width : 480px)  {



}

@media only screen and (max-width : 320px)  {

}